NODE_ENV=development
VITE_ENV=development

BACKEND_PORT=3000

ADMIN_URL=http://localhost:5173
WEB_URL=http://localhost:5174
API_BASE_URL=http://localhost:3000

PG_CONNECTION_STRING=postgresql://xxxxxxxxxxxxxxxxxx

JWT_SECRET=MAfqVePSUzVISF4ugE8BlKB14XXXXXXXXXXXXXX
JWT_EXPIRES_IN=1h

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=